/* Davis Pham & Olga */

body{
    background-image: url("gplaypattern.png");
    background-repeat: repeat;
    margin: 0px;
    font-size: 1.27vw;
}

a{
    text-decoration: none;
}

.right{
    float: right;
}

.left{
    float: left;
}

/* --------------
        HEADER */


header{
    margin-top: 15px;
    width: 100%;
    background: white;
    box-shadow: 4px 4px 5px #ccc;
}

/* --------------
         NAV */

nav{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

nav ul{
    width: 1200px;
    margin: 0;
    list-style-type: none;
    padding: 0;
}

nav li{
    float: left;
}

nav #search input{
    margin-top: 4px;
    padding: 4px 6px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

nav #search input:focus{
    width: 900px;
}

nav #search{
    width: 1000px;
}

nav a:link,nav a:visited{
    display: block;
    text-align: center;
    width: 198px;
    padding: 8px 0;
    border-right: 2px solid #ccc;
    transition: all 0.35s;
    color: black;
}

nav a:hover, nav a:active{
    background-color: rgba(230, 0, 0, 0.5);
}

nav #logo a{
    padding: 2.48vw 0;
    font-weight: 600;
    background-color: rgba(230, 0, 0, 0.3);
    color: white;
}

nav #logo{
    background-image: url("logo-back.jpg");
}

nav li:nth-child(6) a{
    border-width: 0;
}


/* --------------
        FOOTER STUFF */


footer{
    margin-top: 5vw;
    width: 100%;
    background: white;
    overflow: hidden;
    padding-bottom: 25px;
    box-shadow: 4px 4px 5px #ccc;
}

footer div{
    margin: 10px auto 0 auto;
    width: 30vw;
}

footer div h5{
    text-align: center;
}

footer div h4{
    border-bottom: 0.1vw solid black;
}

footer div div{
    width: 14vw;
}

footer ul{
    width: 7vw;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer .closed{
    color: #ccc;
    cursor: not-allowed;
}

footer a{
    color: #ff8080;
}

footer a:hover{
    text-decoration: underline;
}